@font-face {
    font-family: 'paybooc-light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'paybooc-bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
body {
    font-family: 'paybooc-light';
    background-color: #111111; /* 배경 */
    margin: 0;
    padding: 0;
    text-align: center;
}

h3 {
    font-size: 20px;
    color: #CCCCCC; /* 소개글 */
    margin-top: 50px;
}

hr {
    border: none;
    border-top: 3px solid #666; /* 구분선 */
    width: 50%;
    margin: 20px auto;
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    background-color: #222; /* 메뉴 배경색 */
    padding: 10px 0;
}

.menu-container a {
    text-decoration: none;
    color: #CCC; /* 흰색 */
    font-size: 20px;
    margin: 0 15px;
    padding: 10px 15px;
}

/* 추가 스타일 */
.container {
    background-color: #fff; /* 흰색 */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* 곡선 테두리 */
}

h1 img {
    animation: bounce 2s infinite; /* bounce 애니메이션을 이미지에 적용 */
}

input, button, select {
    font-family: 'paybooc-bold';
    font-size: 16pt;
    margin: 5px;
    padding: 5px
}

button {
    cursor: pointer;
    background-color: #ff6600; /* 배경색 */
    color: #fff; /* 텍스트 색상 */
    border: none;
    border-radius: 5px; /* 둥근 테두리 */
    padding: 7px 14px;
    transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

button:hover {
    background-color: #ff9933; /* 호버 시 배경색 변경 */
}

select {
    height: 50px;

}

/* styles.css 파일에 아래 코드 추가 */
/* styles.css 파일에 아래 코드 추가 */
/* styles.css 파일에 아래 코드 추가 */
@keyframes bounce {
0% {
transform: translateY(0);
}
50% {
transform: translateY(-10px);
}
100% {
transform: translateY(0);
}
}

/* 이미지에 애니메이션 적용 */
img#logo {
animation: bounce 2s infinite;
}

th, td {
color : #CCCCCC;
font-size: 20px;
}


/* 음악 목록 표 스타일 */
#musicList table {
    margin: 0 auto;
    border: 2px solid #FFF;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFF;
    width: 400px; /* 테이블 전체의 너비를 지정 */
    height: 100px;
    border-radius: 20px; /* 테이블 테두리에 라운드 효과 적용 */
}

#musicList table th{
    width: 80%;
    height: 30px;
    text-align: left; /* 텍스트 오른쪽 정렬 */
    font-size:18px;
}
#musicList table td {
    height: 30px;
    width: 80%;
    text-align: left;
    vertical-align: bottom;
    font-size: 18px;
}


/* 이미지 셀 스타일 */
#musicList table td img {
    max-height: 100px;
    max-width: 100px;
    width: auto;
    height: auto;
    padding: 15px;

}


#playerCell audio{
    padding-bottom: 10px;
    padding-right : 10px;
    width : 300px;
    height: 20px; 
    align-content: left;
}
